*{
     padding: 0;
     margin:0 auto;
     box-sizing: border-box;
     font-family: 'poppin';
}

.form-control{
     background: rgb(206, 204, 204)!important;
     background-blend-mode:color-dodge;
     opacity: 0.5;
     border-radius: 1px solid #36383a!important;
}